html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.list-group-item {
    padding: 0;
}

.list-group-item:hover {
    background-color: #e6e6e6;
}

.navbar {
    border-radius: 0;
}

.btn-new-event {
    float: right;
}

.event-item a {
    padding: 20px 25px;
    color: inherit;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 767px) {
    .btn-new-event {
        float: none;
        margin-bottom: 20px;
    }
}
