@(events: Seq[Event])

@listItem(event: Event) = {
    <li id="@event.id" class="event-item list-group-item">
        <a href="@routes.HomeController.getEventById(event.id.get)">
            <h3 class="list-group-item-heading">@event.name</h3>
            <span class="start-datetime">@event.startDateTime</span> - <span class="end-datetime">@event.endDateTime</span>
            <span class="category">@event.category</span>
            <p class="list-group-item-text">@event.description</p>
        </a>
    </li>
}

<ul class="events-list list-group">
    @for(event <- events.sortBy(_.name)) {
        @listItem(event)
    }
</ul>