@(event: Event)(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@import helper._

@main("CoordCMS") {
    <div class="event-item">
      <h2>@event.name</h2>
      <span class="start-datetime">@event.startDateTime</span> - <span class="end-datetime">@event.endDateTime</span>
      <span class="category">@event.category</span>
      <p>@event.description</p>
    </div>

    @form(routes.HomeController.deleteEventById(event.id.get)) {
      <input class="btn btn-danger" value="Delete event" type="submit">
    }
}
